<section id="portfolio" *ngIf="router.url=='/property'">
  <div class="container">
    
    <div class="row">
      <div class="col-lg-12 text-center">
      <h2>Portfolio</h2>
      <hr class="star-primary">
      </div>
    </div>
    
 
      <div class="row">
      
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%201&font=lato" alt="Portfolio 1">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%202&font=lato" alt="Portfolio 2">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%203&font=lato" alt="Portfolio 3">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%204&font=lato" alt="Portfolio 4">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%205&font=lato" alt="Portfolio 5">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%206&font=lato" alt="Portfolio 6">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%207&font=lato" alt="Portfolio 7">
        </a>
      </div>
        
        <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail">
          <img src="http://fakeimg.pl/270x190/?text=NKII%20portfolio%208&font=lato" alt="Portfolio 8">
        </a>
      </div> 
    </div>
  </div><!-- /.container -->
</section>

<router-outlet ></router-outlet>